/* Overwriting styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
body{
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
}
.muted{
  color: rgba(0,0,0,0.4);
}
a{
  text-decoration: none;
  color: #5dd2de;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

.navbar-light{
  background-color: #000;
}
  .navbar-light a{
    color: #fff !important;
    
  }

.mainCover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bb55b+0,008f68+100 */
background: #fff; /* Old browsers */
}
  .mainCover .inputBox{
    padding: 5px 10px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 3px;
  }
  .mainCover h1{
    color: #484848;
  }
  .mainCover p a{
    border-bottom: 1px dotted #5dd2de;
  }
  .mainCover p{
    color: rgba(86, 86, 86, 0.7);
  }

.section{
  padding: 25px 0;
}
  .section.white{
    background-color: #fff;
  }
.whyus img{
  margin-bottom: 20px;
  width: 40px; height: 40px; 
}
.whyus .col-lg-4{
  margin: 30px 0;
}

.btn-primary{
  background-color: #fd6868;
  border-color: #fd6868;
}
  .btn-primary:hover{
    background-color: #E95F5F;
    border-color: #E95F5F;
  }
.who-us{
  background-color: white;
  border-radius: 3px;
  
  margin-bottom: 20px;
  text-align: center;
  padding: 20px ;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
  .who-us h4{
    margin: 10px 0 5px 0;
  }
  .who-us img{
    border-radius: 50%;
    width: 120px;
  }

footer{
  display: block;
  padding: 10px 0;
  background-color: white;
}
.shadow{
  border: none;
      box-shadow: 0 1px 30px rgba(0,0,0,0.1);
  padding: 10px;
  height: 100px;
}

.contact-top{
  background-color: #fff;
  color: #000;
  padding: 10px;
  font-size: 14px;
}
.btn-primary{
  background-color: #6BB55B;
  border-color: #6BB55B;
}
  .btn-primary:hover{
    background-color: #008F68;
    border-color: #008F68;
  }