/* Overwriting styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
body{
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
}
.muted{
  color: rgba(0,0,0,0.4);
}
a{
  text-decoration: none;
  color: #fd6868;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

.navbar-light{
  background-color: #fd6868;
}
  .navbar-light a{
    color: #fff !important;
    
  }

.mainCover{
  background-color: #fd6868;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd6868+0,ff794c+100 */
background: #fd6868; /* Old browsers */
background: -moz-linear-gradient(top, #fd6868 0%, #ff794c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fd6868 0%,#ff794c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fd6868 0%,#ff794c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6868', endColorstr='#ff794c',GradientType=0 ); /* IE6-9 */
}
  .mainCover .inputBox{
    padding: 5px 10px;
    border: none;
    background-color: white;
    border-radius: 3px;
  }
  .mainCover h1{
    color: #fff;
  }
  .mainCover p a{
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
  .mainCover p{
    color: rgba(255,255,255,0.7);
  }

.section{
  padding: 25px 0;
}
  .section.white{
    background-color: #fff;
  }
.whyus img{
  margin-bottom: 20px;
  width: 40px; height: 40px; 
}
.whyus .col-lg-4{
  margin: 30px 0;
}

.btn-primary{
  background-color: #fd6868;
  border-color: #fd6868;
}
  .btn-primary:hover{
    background-color: #E95F5F;
    border-color: #E95F5F;
  }
.who-us{
  background-color: white;
  border-radius: 3px;
  
  margin-bottom: 20px;
  text-align: center;
  padding: 20px ;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
  .who-us h4{
    margin: 10px 0 5px 0;
  }
  .who-us img{
    border-radius: 50%;
    width: 120px;
  }

footer{
  display: block;
  padding: 10px 0;
  background-color: white;
}