/* Overwriting styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
body{
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
}
.muted{
  color: rgba(0,0,0,0.4);
}
a{
  text-decoration: none;
  color: #fd6868;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

.navbar-light{
  background-color: #fd6868;
}
  .navbar-light a{
    color: #fff !important;
    
  }

.mainCover{
  background-color: #fd6868;
  height: 300px;
}
  .mainCover h1{
    color: #fff;
  }
  .mainCover p{
    color: rgba(255,255,255,0.7);
  }

.section{
  padding: 25px 0;
}
  .section.white{
    background-color: #fff;
  }
.whyus img{
  margin-bottom: 20px;
  width: 40px; height: 40px; 
}
.whyus .col-lg-4{
  margin: 30px 0;
}

.who-us{
  background-color: white;
  border-radius: 3px;
  
  margin-bottom: 20px;
  text-align: center;
  padding: 20px ;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
  .who-us h4{
    margin: 10px 0 5px 0;
  }
  .who-us img{
    border-radius: 50%;
    width: 120px;
  }