*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  background-color: #151E3E;
  height: 100%;
  display: flex;
  
  animation-name: background-change;
  animation-duration: 0.8s;
  animation-delay: 2s; 
  
}

.canvas .bottle{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  animation-name: bottle;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.canvas .rocket{
  position: fixed;
  bottom: 73px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
  z-index: 9;

  animation-name: rocket, shake;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes rocket{
  0% {
    bottom: 73px;
  }
  100%{
    bottom: 50%;
    left: 60%;
  }
}

@keyframes bottle{
  0% {
    
  }
  100% {
    
    display: none;
  }
}

@keyframes background-change {
  0%{ background-color: #151E3E }
  20%{ background-color: #fff }
  40%{ background-color: #151E3E }
  60%{ background-color: #fff }
  80%{ background-color: #151E3E }
  90%{ background-color: #fff }
  100%{ background-color: #151E3E }
}