*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  background-color: #FFDA3E;
  height: 100%;
  display: flex;
}

.canvas .bottle{
  position: fixed;
  bottom: 20px;
  left: 40%;
  z-index: 10;
}

.canvas .rocket{
  position: fixed;
  bottom: 73px;
  left: 43%;
  z-index: 9;
}